body {
    margin:0;
    font-family: 'Lato', 'sans-serif';
    background-color: #fefae0;
}

*, **, ::before, ::after {
    box-sizing: border-box;
}


.nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;  
    margin-bottom: 0;
    margin-top: 0;
}

.wrapper {
    display: flex;
    margin: 20px;
    justify-content: center;
    
}

.logo-wrapper {
    display: flex;
    flex-direction: row;
    margin: 20px 5px;
    justify-content: center; 
}

.img-background {
    display: flex;
    justify-content: center;
    object-fit: cover;
    height: 400px;
}

.img-background img {
    width: 100%;
    object-fit: cover;
}


.popular-fests {
    display: flex;
    margin: 50px 40px;
    justify-content: space-between;
}


.popular-fest-item {
    width: 335px;
    border: none;
    box-shadow: 0px 0px 10px;
    border-radius: 15px;
    margin: 20px 20px;
}

.popular-fests-title, .fest-city-title {
    text-align: center;
    margin: 60px 40px;
}

.img-fest {
    width: 420px;
    height: 230px;
    object-fit: cover;
    padding: 0px 0px;
    
}


.img-fest img {
    width: 80%;
    height: 80%;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}


.popular-fest-text, .popular-fest-dates {
    margin: 0px 0;
    padding: 20px 0px;
    text-align: center;
    margin-top: -20px;
}

.nav-links {
    list-style-type: none;
    margin: 10px 10px;
    padding: 10px 10px;

}

.links {
    text-decoration: none;
    margin: 20px 0;
    padding: 10px 10px;
    background-color: #1C4670;
    border-radius: 10px;
    color: white;
    font-weight: bold;
}



/* header {
    height: 700px;
    max-width: 100vw;
    background-image: url('https://cdn.pixabay.com/photo/2018/04/17/22/47/wood-3329037_1280.jpg');
    background-repeat: no-repeat;
} */

.city-item {
    margin: 20px 42px;
    border-radius: 200px;
    height: 250px;
    width: 250px;
    padding: 20px 20px;
    text-align: center;

}

.city-name {
    margin: 0;
    font-weight: bold;
    text-transform: uppercase;
}

.fest-city {
    display: flex;
    margin: 0px 60px;
    /* padding: 30px 0px; */
    justify-content: space-between;
}

.city-item img {
    width: 170px;
    height: 170px;
    object-fit: cover;
    margin: 10px 0px;
    border-radius: 50%;
   
}

footer{
    background-color: #1C4670;
}

.contact {
    display: flex;
    justify-content: space-between;
}

.socials li {
    list-style: none;
    margin: 10px 10px;

}

.socials {
    display: flex;
    align-items: center;
    font-size: 25px;
}


.contact-links li {
    list-style: none;
    line-height: 2;
    font-weight: bold;
    color: white;
    
}

.social-links {
    text-decoration: none;
    color:white;
}

.footer-content {
    margin: 0 80px;
}


.tickets {
    display: flex;
    justify-content: center;
    margin: -45px 0;
}

.ticket-btn {
    padding: 20px 50px;
    margin: 40px 20px;
    border-radius: 25px;
    background-color: #1C4670;
    color: white;
    text-decoration: none;
    font-weight: bold;
}

